# Unstructured JSON to .csv

## Dependencies

In [21]:
import json
import pandas as pd

## Reading Dataset

### Examples

In [22]:
json_path = 'data\sample\instances_train_swimmer.json'
with open(json_path, 'r') as f:
    json_data = json.load(f)

print(json_data.keys())

dict_keys(['info', 'licenses', 'categories', 'images', 'annotations', 'videos', 'tracks'])

In [23]:
json_data['info']

{'year': '2021',
 'version': '1',
 'description': '',
 'contributor': '',
 'url': 'localhost',
 'date_created': '2021-03-10T16:59:51.049774'}

In [24]:
json_data['licenses']

[{'id': 1, 'url': '', 'name': 'Unknown'}]

In [25]:
json_data['categories']

[{'supercategory': 'person', 'id': 1, 'name': 'swimmer'},
 {'supercategory': 'person', 'id': 2, 'name': 'swimmer with life jacket'}]

In [26]:
json_data['images'][0]

{'id': 0,
 'file_name': '0.png',
 'height': 2160,
 'width': 3840,
 'source': {'drone': 'mavic',
  'folder_name': 'DJI_0057',
  'video': 'DJI_0057.MP4',
  'frame_no': 0},
 'video_id': 0,
 'frame_index': 0,
 'date_time': '2020-08-27T14:18:12',
 'meta': {'date_time': '2020-08-27T12:18:12',
  'gps_latitude': 47.671755,
  'gps_latitude_ref': 'N',
  'gps_longitude': 9.269907,
  'gps_longitude_ref': 'E',
  'altitude': 11.299448948491314,
  'gimbal_pitch': 45.4,
  'compass_heading': 319.3,
  'gimbal_heading': 322.4,
  'speed': 2.3429371569065713,
  'xspeed': 1.7999517210549845,
  'yspeed': -1.4999597675458203,
  'zspeed': 0.0}}

In [27]:
json_data['annotations'][0]

{'id': 0,
 'image_id': 0,
 'bbox': [1783, 1079, 186, 249],
 'area': 46314,
 'category_id': 2,
 'video_id': 0,
 'track_id': 0}

In [28]:
json_data['annotations'][1]

{'id': 1,
 'image_id': 0,
 'bbox': [1547, 694, 271, 175],
 'area': 47425,
 'category_id': 2,
 'video_id': 0,
 'track_id': 1}

In [29]:
json_data['videos'][0]

{'id': 0,
 'height': 2160,
 'width': 3840,
 'name:': '/data/input/recordings/mavic/DJI_0057.MP4'}

In [30]:
json_data['tracks'][0]

{'id': 0, 'category_id': 2, 'video_id': 0}

## Converting to csv

### Image metadata Dataset

In [31]:
# create a pandas dataframe from the json key 'images'
df_img = pd.DataFrame(json_data['images'])
df_img.head()

,id,file_name,height,width,source,video_id,frame_index,date_time,meta
0,0,0.png,2160,3840,"{'drone': 'mavic', 'folder_name': 'DJI_0057', ...",0,0,2020-08-27T14:18:12,"{'date_time': '2020-08-27T12:18:12', 'gps_lati..."
1,1,1.png,2160,3840,"{'drone': 'mavic', 'folder_name': 'DJI_0057', ...",0,1,2020-08-27T14:18:12,"{'date_time': '2020-08-27T12:18:12', 'gps_lati..."
2,2,2.png,2160,3840,"{'drone': 'mavic', 'folder_name': 'DJI_0057', ...",0,2,2020-08-27T14:18:12.033367,"{'date_time': '2020-08-27T12:18:12', 'gps_lati..."
3,3,3.png,2160,3840,"{'drone': 'mavic', 'folder_name': 'DJI_0057', ...",0,3,2020-08-27T14:18:12.066733,"{'date_time': '2020-08-27T12:18:12', 'gps_lati..."
4,4,4.png,2160,3840,"{'drone': 'mavic', 'folder_name': 'DJI_0057', ...",0,4,2020-08-27T14:18:12.100100,"{'date_time': '2020-08-27T12:18:12', 'gps_lati..."

In [32]:
# now expand the column 'source'
df_img = pd.concat([df_img.drop(['source'], axis=1), df_img['source'].apply(pd.Series)], axis=1)
df_img.head()

,id,file_name,height,width,video_id,frame_index,date_time,meta,drone,folder_name,video,frame_no
0,0,0.png,2160,3840,0,0,2020-08-27T14:18:12,"{'date_time': '2020-08-27T12:18:12', 'gps_lati...",mavic,DJI_0057,DJI_0057.MP4,0
1,1,1.png,2160,3840,0,1,2020-08-27T14:18:12,"{'date_time': '2020-08-27T12:18:12', 'gps_lati...",mavic,DJI_0057,DJI_0057.MP4,1
2,2,2.png,2160,3840,0,2,2020-08-27T14:18:12.033367,"{'date_time': '2020-08-27T12:18:12', 'gps_lati...",mavic,DJI_0057,DJI_0057.MP4,2
3,3,3.png,2160,3840,0,3,2020-08-27T14:18:12.066733,"{'date_time': '2020-08-27T12:18:12', 'gps_lati...",mavic,DJI_0057,DJI_0057.MP4,3
4,4,4.png,2160,3840,0,4,2020-08-27T14:18:12.100100,"{'date_time': '2020-08-27T12:18:12', 'gps_lati...",mavic,DJI_0057,DJI_0057.MP4,4

In [33]:
# now expand the column 'meta'
df_img = pd.concat([df_img.drop(['meta'], axis=1), df_img['meta'].apply(pd.Series)], axis=1)
df_img.head()

,id,file_name,height,width,video_id,frame_index,date_time,drone,folder_name,video,...,gps_longitude,gps_longitude_ref,altitude,gimbal_pitch,compass_heading,gimbal_heading,speed,xspeed,yspeed,zspeed
0,0,0.png,2160,3840,0,0,2020-08-27T14:18:12,mavic,DJI_0057,DJI_0057.MP4,...,9.269907,E,11.299449,45.4,319.3,322.4,2.342937,1.799952,-1.499960,0.0
1,1,1.png,2160,3840,0,1,2020-08-27T14:18:12,mavic,DJI_0057,DJI_0057.MP4,...,9.269906,E,11.299449,45.4,319.4,322.4,2.701928,2.099944,-1.699954,0.0
2,2,2.png,2160,3840,0,2,2020-08-27T14:18:12.033367,mavic,DJI_0057,DJI_0057.MP4,...,9.269906,E,11.299449,45.4,319.4,322.4,2.701928,2.099944,-1.699954,0.0
3,3,3.png,2160,3840,0,3,2020-08-27T14:18:12.066733,mavic,DJI_0057,DJI_0057.MP4,...,9.269906,E,11.299449,45.4,319.4,322.4,2.701928,2.099944,-1.699954,0.0
4,4,4.png,2160,3840,0,4,2020-08-27T14:18:12.100100,mavic,DJI_0057,DJI_0057.MP4,...,9.269903,E,11.199454,45.4,319.4,322.4,2.982920,2.299938,-1.899949,0.0

In [34]:
# check the type of the columns
df_img.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27259 entries, 0 to 27258
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 27259 non-null  int64
 1   file_name          27259 non-null  object
 2   height             27259 non-null  int64
 3   width              27259 non-null  int64
 4   video_id           27259 non-null  int64
 5   frame_index        27259 non-null  int64
 6   date_time          27259 non-null  object
 7   drone              27259 non-null  object
 8   folder_name        27259 non-null  object
 9   video              27259 non-null  object
 10  frame_no           27259 non-null  int64
 11  date_time          27259 non-null  object
 12  gps_latitude       27259 non-null  float64
 13  gps_latitude_ref   27259 non-null  object
 14  gps_longitude      27259 non-null  float64
 15  gps_longitude_ref  27259 non-null  object
 16  altitude           27259 non-null  float64
 17  gimbal_pitch       27259 non-null  float64
 18  compass_heading    27259 non-null  float64
 19  gimbal_heading     27259 non-null  float64
 20  speed              27259 non-null  float64
 21  xspeed             27259 non-null  float64
 22  yspeed             27259 non-null  float64
 23  zspeed             27259 non-null  float64
dtypes: float64(10), int64(6), object(8)
memory usage: 5.0+ MB

In [35]:
# save the dataframe as a csv file
df_img.to_csv('data/instances_train_swimmer_images.csv', index=False)

## Annotations Dataset

In [38]:
# create a pandas dataframe from the json key 'annotations'
df_ann = pd.DataFrame(json_data['annotations'])
df_ann.head()

,id,image_id,bbox,area,category_id,video_id,track_id
0,0,0,"[1783, 1079, 186, 249]",46314,2,0,0
1,1,0,"[1547, 694, 271, 175]",47425,2,0,1
2,2,0,"[1811, 367, 129, 162]",20898,2,0,2
3,3,0,"[1588, 360, 122, 229]",27938,1,0,3
4,4,0,"[3386, 75, 221, 82]",18122,2,0,4

In [39]:
# now expand the column 'bbox' (it's a list
df_ann = pd.concat([df_ann.drop(['bbox'], axis=1), df_ann['bbox'].apply(pd.Series)], axis=1)
df_ann.rename(columns={0: 'bbox_x', 1: 'bbox_y', 2: 'bbox_w', 3: 'bbox_h'}, inplace=True)
df_ann.head()

,id,image_id,area,category_id,video_id,track_id,bbox_x,bbox_y,bbox_w,bbox_h
0,0,0,46314,2,0,0,1783,1079,186,249
1,1,0,47425,2,0,1,1547,694,271,175
2,2,0,20898,2,0,2,1811,367,129,162
3,3,0,27938,1,0,3,1588,360,122,229
4,4,0,18122,2,0,4,3386,75,221,82

In [40]:
# check the type of the columns
df_ann.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91357 entries, 0 to 91356
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           91357 non-null  int64
 1   image_id     91357 non-null  int64
 2   area         91357 non-null  int64
 3   category_id  91357 non-null  int64
 4   video_id     91357 non-null  int64
 5   track_id     91357 non-null  int64
 6   bbox_x       91357 non-null  int64
 7   bbox_y       91357 non-null  int64
 8   bbox_w       91357 non-null  int64
 9   bbox_h       91357 non-null  int64
dtypes: int64(10)
memory usage: 7.0 MB

In [ ]:
# save the dataframe as a csv file
df_ann.to_csv('data/instances_train_swimmer_annotations.csv', index=False)